# PYODBC

In [2]:
import pyodbc

In [3]:
drivers = pyodbc.drivers()
for driver in drivers:
    print(driver)

SQL Server
PostgreSQL ANSI(x64)
PostgreSQL Unicode(x64)
Microsoft Access Driver (*.mdb, *.accdb)
Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)
Microsoft Access Text Driver (*.txt, *.csv)
ODBC Driver 18 for SQL Server
ODBC Driver 17 for SQL Server

In [7]:
server = 'localhost,1433'
database = 'Northwind'
username = 'sa'
password = 'yourStrong(!)Password'
docker_Northwind = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = docker_Northwind.cursor()
cursor.execute("SELECT @@version;")  
row = cursor.fetchone()
print(row)

('Microsoft Azure SQL Edge Developer (RTM) - 15.0.2000.1574 (X64) \n\tJan 25 2023 11:33:34 \n\tCopyright (C) 2019 Microsoft Corporation\n\tLinux (Ubuntu 18.04.6 LTS) <X64>', )

## CREATE Tables

In [26]:
cursor.execute('''CREATE TABLE test_table(
                    test_id int primary key,
                    name varchar(25),
                    number int)''')
cursor.commit()

## DROP Tables

In [25]:
cursor.execute('''DROP TABLE test_table''')
cursor.commit()

## Simple SELECT Statement

In [34]:
rows = cursor.execute('''SELECT ContactName, City, Country FROM Customers''').fetchall()
cursor.commit()
for r in rows:
    print(r)

[('Maria Anders', 'Berlin', 'Germany'), ('Ana Trujillo', 'México D.F.', 'Mexico'), ('Antonio Moreno', 'México D.F.', 'Mexico'), ('Thomas Hardy', 'London', 'UK'), ('Christina Berglund', 'Luleå', 'Sweden'), ('Hanna Moos', 'Mannheim', 'Germany'), ('Frédérique Citeaux', 'Strasbourg', 'France'), ('Martín Sommer', 'Madrid', 'Spain'), ('Laurence Lebihan', 'Marseille', 'France'), ('Elizabeth Lincoln', 'Tsawassen', 'Canada'), ('Victoria Ashworth', 'London', 'UK'), ('Patricio Simpson', 'Buenos Aires', 'Argentina'), ('Francisco Chang', 'México D.F.', 'Mexico'), ('Yang Wang', 'Bern', 'Switzerland'), ('Pedro Afonso', 'Sao Paulo', 'Brazil'), ('Elizabeth Brown', 'London', 'UK'), ('Sven Ottlieb', 'Aachen', 'Germany'), ('Janine Labrune', 'Nantes', 'France'), ('Ann Devon', 'London', 'UK'), ('Roland Mendel', 'Graz', 'Austria'), ('Aria Cruz', 'Sao Paulo', 'Brazil'), ('Diego Roel', 'Madrid', 'Spain'), ('Martine Rancé', 'Lille', 'France'), ('Maria Larsson', 'Bräcke', 'Sweden'), ('Peter Franken', 'München', 'Germany'), ('Carine Schmitt', 'Nantes', 'France'), ('Paolo Accorti', 'Torino', 'Italy'), ('Lino Rodriguez', 'Lisboa', 'Portugal'), ('Eduardo Saavedra', 'Barcelona', 'Spain'), ('José Pedro Freyre', 'Sevilla', 'Spain'), ('André Fonseca', 'Campinas', 'Brazil'), ('Howard Snyder', 'Eugene', 'USA'), ('Manuel Pereira', 'Caracas', 'Venezuela'), ('Mario Pontes', 'Rio de Janeiro', 'Brazil'), ('Carlos Hernández', 'San Cristóbal', 'Venezuela'), ('Yoshi Latimer', 'Elgin', 'USA'), ('Patricia McKenna', 'Cork', 'Ireland'), ('Helen Bennett', 'Cowes', 'UK'), ('Philip Cramer', 'Brandenburg', 'Germany'), ('Daniel Tonini', 'Versailles', 'France'), ('Annette Roulet', 'Toulouse', 'France'), ('Yoshi Tannamuri', 'Vancouver', 'Canada'), ('John Steel', 'Walla Walla', 'USA'), ('Renate Messner', 'Frankfurt a.M.', 'Germany'), ('Jaime Yorres', 'San Francisco', 'USA'), ('Carlos González', 'Barquisimeto', 'Venezuela'), ('Felipe Izquierdo', 'I. de Margarita', 'Venezuela'), ('Fran Wilson', 'Portland', 'USA'), ('Giovanni Rovelli', 'Bergamo', 'Italy'), ('Catherine Dewey', 'Bruxelles', 'Belgium'), ('Jean Fresnière', 'Montréal', 'Canada'), ('Alexander Feuer', 'Leipzig', 'Germany'), ('Simon Crowther', 'London', 'UK'), ('Yvonne Moncada', 'Buenos Aires', 'Argentina'), ('Rene Phillips', 'Anchorage', 'USA'), ('Henriette Pfalzheim', 'Köln', 'Germany'), ('Marie Bertrand', 'Paris', 'France'), ('Guillermo Fernández', 'México D.F.', 'Mexico'), ('Georg Pipps', 'Salzburg', 'Austria'), ('Isabel de Castro', 'Lisboa', 'Portugal'), ('Bernardo Batista', 'Rio de Janeiro', 'Brazil'), ('Lúcia Carvalho', 'Sao Paulo', 'Brazil'), ('Horst Kloss', 'Cunewalde', 'Germany'), ('Sergio Gutiérrez', 'Buenos Aires', 'Argentina'), ('Paula Wilson', 'Albuquerque', 'USA'), ('Maurizio Moroni', 'Reggio Emilia', 'Italy'), ('Janete Limeira', 'Rio de Janeiro', 'Brazil'), ('Michael Holz', 'Genève', 'Switzerland'), ('Alejandra Camino', 'Madrid', 'Spain'), ('Jonas Bergulfsen', 'Stavern', 'Norway'), ('Jose Pavarotti', 'Boise', 'USA'), ('Hari Kumar', 'London', 'UK'), ('Jytte Petersen', 'Kobenhavn', 'Denmark'), ('Dominique Perrier', 'Paris', 'France'), ('Art Braunschweiger', 'Lander', 'USA'), ('Pascale Cartrain', 'Charleroi', 'Belgium'), ('Liz Nixon', 'Portland', 'USA'), ('Liu Wong', 'Butte', 'USA'), ('Karin Josephs', 'Münster', 'Germany'), ('Miguel Angel Paolino', 'México D.F.', 'Mexico'), ('Anabela Domingues', 'Sao Paulo', 'Brazil'), ('Helvetius Nagy', 'Kirkland', 'USA'), ('Palle Ibsen', 'Århus', 'Denmark'), ('Mary Saveley', 'Lyon', 'France'), ('Paul Henriot', 'Reims', 'France'), ('Rita Müller', 'Stuttgart', 'Germany'), ('Pirkko Koskitalo', 'Oulu', 'Finland'), ('Paula Parente', 'Resende', 'Brazil'), ('Karl Jablonski', 'Seattle', 'USA'), ('Matti Karttunen', 'Helsinki', 'Finland'), ('Zbyszek Piestrzeniewicz', 'Warszawa', 'Poland')]
('Maria Anders', 'Berlin', 'Germany')
('Ana Trujillo', 'México D.F.', 'Mexico')
('Antonio Moreno', 'México D.F.', 'Mexico')
('Thomas Hardy', 'London', 'UK')
('Christina Berglund', 'Luleå', 'Sweden')
('Hanna Moos', 'Mannheim', 'Germany')
('Frédérique Citeaux', 'Strasbourg', 'France')
('Martín Sommer', 'Madrid', 'Spain')
('Laurence Lebihan', 'Marseille', 'France')
('Elizabeth Lincoln', 'Tsawassen', 'Canada')
('Victoria Ashworth', 'London', 'UK')
('Patricio Simpson', 'Buenos Aires', 'Argentina')
('Francisco Chang', 'México D.F.', 'Mexico')
('Yang Wang', 'Bern', 'Switzerland')
('Pedro Afonso', 'Sao Paulo', 'Brazil')
('Elizabeth Brown', 'London', 'UK')
('Sven Ottlieb', 'Aachen', 'Germany')
('Janine Labrune', 'Nantes', 'France')
('Ann Devon', 'London', 'UK')
('Roland Mendel', 'Graz', 'Austria')
('Aria Cruz', 'Sao Paulo', 'Brazil')
('Diego Roel', 'Madrid', 'Spain')
('Martine Rancé', 'Lille', 'France')
('Maria Larsson', 'Bräcke', 'Sweden')
('Peter Franken', 'München', 'Germany')
('Carine Schmitt', 'Nantes', 'France')
('Paolo Accorti', 'Torino', 'Italy')
('Lino Rodriguez', 'Lisboa', 'Portugal')
('Eduardo Saavedra', 'Barcelona', 'Spain')
('José Pedro Freyre', 'Sevilla', 'Spain')
('André Fonseca', 'Campinas', 'Brazil')
('Howard Snyder', 'Eugene', 'USA')
('Manuel Pereira', 'Caracas', 'Venezuela')
('Mario Pontes', 'Rio de Janeiro', 'Brazil')
('Carlos Hernández', 'San Cristóbal', 'Venezuela')
('Yoshi Latimer', 'Elgin', 'USA')
('Patricia McKenna', 'Cork', 'Ireland')
('Helen Bennett', 'Cowes', 'UK')
('Philip Cramer', 'Brandenburg', 'Germany')
('Daniel Tonini', 'Versailles', 'France')
('Annette Roulet', 'Toulouse', 'France')
('Yoshi Tannamuri', 'Vancouver', 'Canada')
('John Steel', 'Walla Walla', 'USA')
('Renate Messner', 'Frankfurt a.M.', 'Germany')
('Jaime Yorres', 'San Francisco', 'USA')
('Carlos González', 'Barquisimeto', 'Venezuela')
('Felipe Izquierdo', 'I. de Margarita', 'Venezuela')
('Fran Wilson', 'Portland', 'USA')
('Giovanni Rovelli', 'Bergamo', 'Italy')
('Catherine Dewey', 'Bruxelles', 'Belgium')
('Jean Fresnière', 'Montréal', 'Canada')
('Alexander Feuer', 'Leipzig', 'Germany')
('Simon Crowther', 'London', 'UK')
('Yvonne Moncada', 'Buenos Aires', 'Argentina')
('Rene Phillips', 'Anchorage', 'USA')
('Henriette Pfalzheim', 'Köln', 'Germany')
('Marie Bertrand', 'Paris', 'France')
('Guillermo Fernández', 'México D.F.', 'Mexico')
('Georg Pipps', 'Salzburg', 'Austria')
('Isabel de Castro', 'Lisboa', 'Portugal')
('Bernardo Batista', 'Rio de Janeiro', 'Brazil')
('Lúcia Carvalho', 'Sao Paulo', 'Brazil')
('Horst Kloss', 'Cunewalde', 'Germany')
('Sergio Gutiérrez', 'Buenos Aires', 'Argentina')
('Paula Wilson', 'Albuquerque', 'USA')
('Maurizio Moroni', 'Reggio Emilia', 'Italy')
('Janete Limeira', 'Rio de Janeiro', 'Brazil')
('Michael Holz', 'Genève', 'Switzerland')
('Alejandra Camino', 'Madrid', 'Spain')
('Jonas Bergulfsen', 'Stavern', 'Norway')
('Jose Pavarotti', 'Boise', 'USA')
('Hari Kumar', 'London', 'UK')
('Jytte Petersen', 'Kobenhavn', 'Denmark')
('Dominique Perrier', 'Paris', 'France')
('Art Braunschweiger', 'Lander', 'USA')
('Pascale Cartrain', 'Charleroi', 'Belgium')
('Liz Nixon', 'Portland', 'USA')
('Liu Wong', 'Butte', 'USA')
('Karin Josephs', 'Münster', 'Germany')
('Miguel Angel Paolino', 'México D.F.', 'Mexico')
('Anabela Domingues', 'Sao Paulo', 'Brazil')
('Helvetius Nagy', 'Kirkland', 'USA')
('Palle Ibsen', 'Århus', 'Denmark')
('Mary Saveley', 'Lyon', 'France')
('Paul Henriot', 'Reims', 'France')
('Rita Müller', 'Stuttgart', 'Germany')
('Pirkko Koskitalo', 'Oulu', 'Finland')
('Paula Parente', 'Resende', 'Brazil')
('Karl Jablonski', 'Seattle', 'USA')
('Matti Karttunen', 'Helsinki', 'Finland')
('Zbyszek Piestrzeniewicz', 'Warszawa', 'Poland')

## Simple SELECT WHERE condition statement

In [36]:
rows = cursor.execute("SELECT ContactName, City, Country FROM Customers WHERE Country = 'France'").fetchall()
cursor.commit()
for r in rows:
    print(r)

[('Frédérique Citeaux', 'Strasbourg', 'France'), ('Laurence Lebihan', 'Marseille', 'France'), ('Janine Labrune', 'Nantes', 'France'), ('Martine Rancé', 'Lille', 'France'), ('Carine Schmitt', 'Nantes', 'France'), ('Daniel Tonini', 'Versailles', 'France'), ('Annette Roulet', 'Toulouse', 'France'), ('Marie Bertrand', 'Paris', 'France'), ('Dominique Perrier', 'Paris', 'France'), ('Mary Saveley', 'Lyon', 'France'), ('Paul Henriot', 'Reims', 'France')]
('Frédérique Citeaux', 'Strasbourg', 'France')
('Laurence Lebihan', 'Marseille', 'France')
('Janine Labrune', 'Nantes', 'France')
('Martine Rancé', 'Lille', 'France')
('Carine Schmitt', 'Nantes', 'France')
('Daniel Tonini', 'Versailles', 'France')
('Annette Roulet', 'Toulouse', 'France')
('Marie Bertrand', 'Paris', 'France')
('Dominique Perrier', 'Paris', 'France')
('Mary Saveley', 'Lyon', 'France')
('Paul Henriot', 'Reims', 'France')

## Simple SELECT WHERE using IN multiple options

In [40]:
rows = cursor.execute("SELECT ContactName, City, Country FROM Customers WHERE Country IN ('France','Poland')").fetchall()
cursor.commit()
for r in rows:
    print(r)

[('Frédérique Citeaux', 'Strasbourg', 'France'), ('Laurence Lebihan', 'Marseille', 'France'), ('Janine Labrune', 'Nantes', 'France'), ('Martine Rancé', 'Lille', 'France'), ('Carine Schmitt', 'Nantes', 'France'), ('Daniel Tonini', 'Versailles', 'France'), ('Annette Roulet', 'Toulouse', 'France'), ('Marie Bertrand', 'Paris', 'France'), ('Dominique Perrier', 'Paris', 'France'), ('Mary Saveley', 'Lyon', 'France'), ('Paul Henriot', 'Reims', 'France'), ('Zbyszek Piestrzeniewicz', 'Warszawa', 'Poland')]
('Frédérique Citeaux', 'Strasbourg', 'France')
('Laurence Lebihan', 'Marseille', 'France')
('Janine Labrune', 'Nantes', 'France')
('Martine Rancé', 'Lille', 'France')
('Carine Schmitt', 'Nantes', 'France')
('Daniel Tonini', 'Versailles', 'France')
('Annette Roulet', 'Toulouse', 'France')
('Marie Bertrand', 'Paris', 'France')
('Dominique Perrier', 'Paris', 'France')
('Mary Saveley', 'Lyon', 'France')
('Paul Henriot', 'Reims', 'France')
('Zbyszek Piestrzeniewicz', 'Warszawa', 'Poland')

## SELECT WHERE using LIKE country starting with U

In [43]:
rows = cursor.execute("SELECT ContactName, City, Country FROM Customers WHERE Country like 'U%'").fetchall()
cursor.commit()
for r in rows:
    print(r)

[('Thomas Hardy', 'London', 'UK'), ('Victoria Ashworth', 'London', 'UK'), ('Elizabeth Brown', 'London', 'UK'), ('Ann Devon', 'London', 'UK'), ('Howard Snyder', 'Eugene', 'USA'), ('Yoshi Latimer', 'Elgin', 'USA'), ('Helen Bennett', 'Cowes', 'UK'), ('John Steel', 'Walla Walla', 'USA'), ('Jaime Yorres', 'San Francisco', 'USA'), ('Fran Wilson', 'Portland', 'USA'), ('Simon Crowther', 'London', 'UK'), ('Rene Phillips', 'Anchorage', 'USA'), ('Paula Wilson', 'Albuquerque', 'USA'), ('Jose Pavarotti', 'Boise', 'USA'), ('Hari Kumar', 'London', 'UK'), ('Art Braunschweiger', 'Lander', 'USA'), ('Liz Nixon', 'Portland', 'USA'), ('Liu Wong', 'Butte', 'USA'), ('Helvetius Nagy', 'Kirkland', 'USA'), ('Karl Jablonski', 'Seattle', 'USA')]
('Thomas Hardy', 'London', 'UK')
('Victoria Ashworth', 'London', 'UK')
('Elizabeth Brown', 'London', 'UK')
('Ann Devon', 'London', 'UK')
('Howard Snyder', 'Eugene', 'USA')
('Yoshi Latimer', 'Elgin', 'USA')
('Helen Bennett', 'Cowes', 'UK')
('John Steel', 'Walla Walla', 'USA')
('Jaime Yorres', 'San Francisco', 'USA')
('Fran Wilson', 'Portland', 'USA')
('Simon Crowther', 'London', 'UK')
('Rene Phillips', 'Anchorage', 'USA')
('Paula Wilson', 'Albuquerque', 'USA')
('Jose Pavarotti', 'Boise', 'USA')
('Hari Kumar', 'London', 'UK')
('Art Braunschweiger', 'Lander', 'USA')
('Liz Nixon', 'Portland', 'USA')
('Liu Wong', 'Butte', 'USA')
('Helvetius Nagy', 'Kirkland', 'USA')
('Karl Jablonski', 'Seattle', 'USA')

## SELECT WHERE BETWEEN two dates

In [44]:
rows = cursor.execute("SELECT OrderID, ShipCity, ShipCountry FROM Orders WHERE OrderDate BETWEEN '1996-07-19' AND '1996-11-11'").fetchall()
cursor.commit()
for r in rows:
    print(r)

[(10260, 'Köln', 'Germany'), (10261, 'Rio de Janeiro', 'Brazil'), (10262, 'Albuquerque', 'USA'), (10263, 'Graz', 'Austria'), (10264, 'Bräcke', 'Sweden'), (10265, 'Strasbourg', 'France'), (10266, 'Oulu', 'Finland'), (10267, 'München', 'Germany'), (10268, 'Caracas', 'Venezuela'), (10269, 'Seattle', 'USA'), (10270, 'Oulu', 'Finland'), (10271, 'Lander', 'USA'), (10272, 'Albuquerque', 'USA'), (10273, 'Cunewalde', 'Germany'), (10274, 'Reims', 'France'), (10275, 'Bergamo', 'Italy'), (10276, 'México D.F.', 'Mexico'), (10277, 'Leipzig', 'Germany'), (10278, 'Luleå', 'Sweden'), (10279, 'Frankfurt a.M.', 'Germany'), (10280, 'Luleå', 'Sweden'), (10281, 'Madrid', 'Spain'), (10282, 'Madrid', 'Spain'), (10283, 'Barquisimeto', 'Venezuela'), (10284, 'Frankfurt a.M.', 'Germany'), (10285, 'Cunewalde', 'Germany'), (10286, 'Cunewalde', 'Germany'), (10287, 'Rio de Janeiro', 'Brazil'), (10288, 'Reggio Emilia', 'Italy'), (10289, 'London', 'UK'), (10290, 'Sao Paulo', 'Brazil'), (10291, 'Rio de Janeiro', 'Brazil'), (10292, 'Sao Paulo', 'Brazil'), (10293, 'México D.F.', 'Mexico'), (10294, 'Albuquerque', 'USA'), (10295, 'Reims', 'France'), (10296, 'Barquisimeto', 'Venezuela'), (10297, 'Strasbourg', 'France'), (10298, 'Cork', 'Ireland'), (10299, 'Rio de Janeiro', 'Brazil'), (10300, 'Bergamo', 'Italy'), (10301, 'Stuttgart', 'Germany'), (10302, 'Charleroi', 'Belgium'), (10303, 'Sevilla', 'Spain'), (10304, 'México D.F.', 'Mexico'), (10305, 'Anchorage', 'USA'), (10306, 'Madrid', 'Spain'), (10307, 'Portland', 'USA'), (10308, 'México D.F.', 'Mexico'), (10309, 'Cork', 'Ireland'), (10310, 'Portland', 'USA'), (10311, 'Nantes', 'France'), (10312, 'Stuttgart', 'Germany'), (10313, 'Cunewalde', 'Germany'), (10314, 'Albuquerque', 'USA'), (10315, 'Cowes', 'UK'), (10316, 'Albuquerque', 'USA'), (10317, 'Portland', 'USA'), (10318, 'Cowes', 'UK'), (10319, 'México D.F.', 'Mexico'), (10320, 'Oulu', 'Finland'), (10321, 'Cowes', 'UK'), (10322, 'México D.F.', 'Mexico'), (10323, 'Brandenburg', 'Germany'), (10324, 'Boise', 'USA'), (10325, 'Brandenburg', 'Germany'), (10326, 'Madrid', 'Spain'), (10327, 'Bräcke', 'Sweden'), (10328, 'Lisboa', 'Portugal'), (10329, 'Lander', 'USA'), (10330, 'Barquisimeto', 'Venezuela'), (10331, 'Marseille', 'France'), (10332, 'Montréal', 'Canada'), (10333, 'Oulu', 'Finland'), (10334, 'Lyon', 'France'), (10335, 'Cork', 'Ireland'), (10336, 'Lisboa', 'Portugal'), (10337, 'München', 'Germany'), (10338, 'Anchorage', 'USA'), (10339, 'Montréal', 'Canada'), (10340, 'Marseille', 'France'), (10341, 'Kobenhavn', 'Denmark'), (10342, 'München', 'Germany'), (10343, 'Frankfurt a.M.', 'Germany'), (10344, 'Seattle', 'USA'), (10345, 'Cunewalde', 'Germany'), (10346, 'Albuquerque', 'USA'), (10347, 'Sao Paulo', 'Brazil'), (10348, 'Stuttgart', 'Germany'), (10349, 'Lander', 'USA'), (10350, 'Toulouse', 'France'), (10351, 'Graz', 'Austria')]
(10260, 'Köln', 'Germany')
(10261, 'Rio de Janeiro', 'Brazil')
(10262, 'Albuquerque', 'USA')
(10263, 'Graz', 'Austria')
(10264, 'Bräcke', 'Sweden')
(10265, 'Strasbourg', 'France')
(10266, 'Oulu', 'Finland')
(10267, 'München', 'Germany')
(10268, 'Caracas', 'Venezuela')
(10269, 'Seattle', 'USA')
(10270, 'Oulu', 'Finland')
(10271, 'Lander', 'USA')
(10272, 'Albuquerque', 'USA')
(10273, 'Cunewalde', 'Germany')
(10274, 'Reims', 'France')
(10275, 'Bergamo', 'Italy')
(10276, 'México D.F.', 'Mexico')
(10277, 'Leipzig', 'Germany')
(10278, 'Luleå', 'Sweden')
(10279, 'Frankfurt a.M.', 'Germany')
(10280, 'Luleå', 'Sweden')
(10281, 'Madrid', 'Spain')
(10282, 'Madrid', 'Spain')
(10283, 'Barquisimeto', 'Venezuela')
(10284, 'Frankfurt a.M.', 'Germany')
(10285, 'Cunewalde', 'Germany')
(10286, 'Cunewalde', 'Germany')
(10287, 'Rio de Janeiro', 'Brazil')
(10288, 'Reggio Emilia', 'Italy')
(10289, 'London', 'UK')
(10290, 'Sao Paulo', 'Brazil')
(10291, 'Rio de Janeiro', 'Brazil')
(10292, 'Sao Paulo', 'Brazil')
(10293, 'México D.F.', 'Mexico')
(10294, 'Albuquerque', 'USA')
(10295, 'Reims', 'France')
(10296, 'Barquisimeto', 'Venezuela')
(10297, 'Strasbourg', 'France')
(10298, 'Cork', 'Ireland')
(10299, 'Rio de Janeiro', 'Brazil')
(10300, 'Bergamo', 'Italy')
(10301, 'Stuttgart', 'Germany')
(10302, 'Charleroi', 'Belgium')
(10303, 'Sevilla', 'Spain')
(10304, 'México D.F.', 'Mexico')
(10305, 'Anchorage', 'USA')
(10306, 'Madrid', 'Spain')
(10307, 'Portland', 'USA')
(10308, 'México D.F.', 'Mexico')
(10309, 'Cork', 'Ireland')
(10310, 'Portland', 'USA')
(10311, 'Nantes', 'France')
(10312, 'Stuttgart', 'Germany')
(10313, 'Cunewalde', 'Germany')
(10314, 'Albuquerque', 'USA')
(10315, 'Cowes', 'UK')
(10316, 'Albuquerque', 'USA')
(10317, 'Portland', 'USA')
(10318, 'Cowes', 'UK')
(10319, 'México D.F.', 'Mexico')
(10320, 'Oulu', 'Finland')
(10321, 'Cowes', 'UK')
(10322, 'México D.F.', 'Mexico')
(10323, 'Brandenburg', 'Germany')
(10324, 'Boise', 'USA')
(10325, 'Brandenburg', 'Germany')
(10326, 'Madrid', 'Spain')
(10327, 'Bräcke', 'Sweden')
(10328, 'Lisboa', 'Portugal')
(10329, 'Lander', 'USA')
(10330, 'Barquisimeto', 'Venezuela')
(10331, 'Marseille', 'France')
(10332, 'Montréal', 'Canada')
(10333, 'Oulu', 'Finland')
(10334, 'Lyon', 'France')
(10335, 'Cork', 'Ireland')
(10336, 'Lisboa', 'Portugal')
(10337, 'München', 'Germany')
(10338, 'Anchorage', 'USA')
(10339, 'Montréal', 'Canada')
(10340, 'Marseille', 'France')
(10341, 'Kobenhavn', 'Denmark')
(10342, 'München', 'Germany')
(10343, 'Frankfurt a.M.', 'Germany')
(10344, 'Seattle', 'USA')
(10345, 'Cunewalde', 'Germany')
(10346, 'Albuquerque', 'USA')
(10347, 'Sao Paulo', 'Brazil')
(10348, 'Stuttgart', 'Germany')
(10349, 'Lander', 'USA')
(10350, 'Toulouse', 'France')
(10351, 'Graz', 'Austria')

## Using GROUP BY to count number of customers in each country

In [46]:
rows = cursor.execute("SELECT Country, COUNT(*) FROM Customers GROUP BY (Country)").fetchall()
cursor.commit()
for r in rows:
    print(r)

[('Argentina', 3), ('Austria', 2), ('Belgium', 2), ('Brazil', 9), ('Canada', 3), ('Denmark', 2), ('Finland', 2), ('France', 11), ('Germany', 11), ('Ireland', 1), ('Italy', 3), ('Mexico', 5), ('Norway', 1), ('Poland', 1), ('Portugal', 2), ('Spain', 5), ('Sweden', 2), ('Switzerland', 2), ('UK', 7), ('USA', 13), ('Venezuela', 4)]
('Argentina', 3)
('Austria', 2)
('Belgium', 2)
('Brazil', 9)
('Canada', 3)
('Denmark', 2)
('Finland', 2)
('France', 11)
('Germany', 11)
('Ireland', 1)
('Italy', 3)
('Mexico', 5)
('Norway', 1)
('Poland', 1)
('Portugal', 2)
('Spain', 5)
('Sweden', 2)
('Switzerland', 2)
('UK', 7)
('USA', 13)
('Venezuela', 4)

## Joining multiple tables on IDs and using GROUP BY to check the average order quantity from each of the different customer countries

In [50]:
rows = cursor.execute("SELECT c.Country, AVG(od.Quantity) FROM Customers c JOIN Orders o ON c.CustomerID = o.CustomerID JOIN [Order Details] od ON o.OrderID = od.OrderID JOIN Products p ON od.ProductID = p.ProductID GROUP BY (Country)").fetchall()
cursor.commit()
for r in rows:
    print(r)

('Finland', 16)
('USA', 26)
('Italy', 15)
('Brazil', 20)
('Germany', 28)
('Switzerland', 24)
('Mexico', 14)
('Sweden', 23)
('Argentina', 9)
('Austria', 41)
('UK', 20)
('Poland', 12)
('Canada', 26)
('Ireland', 30)
('Norway', 10)
('France', 17)
('Belgium', 24)
('Spain', 13)
('Venezuela', 24)
('Denmark', 25)
('Portugal', 17)

## Joining multiple tables on IDs and using GROUP BY to check the average order quantity multiplied by the unit price of the products from each of the different customer countries

In [51]:
rows = cursor.execute("SELECT c.Country, AVG(od.Quantity*od.UnitPrice) FROM Customers c JOIN Orders o ON c.CustomerID = o.CustomerID JOIN [Order Details] od ON o.OrderID = od.OrderID JOIN Products p ON od.ProductID = p.ProductID GROUP BY (Country)").fetchall()
cursor.commit()
for r in rows:
    print(r)

('Finland', Decimal('366.2675'))
('USA', Decimal('748.7698'))
('Italy', Decimal('315.1915'))
('Brazil', Decimal('566.3471'))
('Germany', Decimal('745.8555'))
('Switzerland', Decimal('633.0673'))
('Mexico', Decimal('334.3534'))
('Sweden', Decimal('613.6463'))
('Argentina', Decimal('238.7970'))
('Austria', Decimal('1115.9730'))
('UK', Decimal('449.0111'))
('Poland', Decimal('220.7468'))
('Canada', Decimal('737.7880'))
('Ireland', Decimal('1042.1343'))
('Norway', Decimal('358.4468'))
('France', Decimal('464.6671'))
('Belgium', Decimal('627.4103'))
('Spain', Decimal('359.8498'))
('Venezuela', Decimal('515.3804'))
('Denmark', Decimal('756.1358'))
('Portugal', Decimal('415.6216'))